RSpec.shared_context 'with authenticated member', shared_context: :metadata do
  before do
    sign_in <%= @mt_config[:auth_table].singularize.camelize %>.find_by(email: 'user@example.com')
  end
end

<% if @mt_config[:use_roles] %>
RSpec.shared_context 'with authenticated admin', shared_context: :metadata do
  before do
    sign_in <%= @mt_config[:auth_table].singularize.camelize %>.find_by(email: 'admin@example.com')
  end
end
<% end %>
