<!--
Thank you for your participation!

Please, fill the sections or remove if unnecessary.
Note that this formalism only helps us to manage the MRs easily.
-->

<!-- Describe your merge request here -->

## Checks

<% if @mt_config[:has_tests] -%>
- [ ] I created/updated RSpec tests
- [ ] I created/updated Cucumber scenarios
<% if @mt_config[:use_rspec_rails_api] -%>
- [ ] I created/updated acceptance tests <!-- Only keep this if you created/updated a controller -->
<% end -%>
<% end -%>
<% if @mt_config[:use_factorybot] -%>
- [ ] I created/updated FactoryBot factories (preferably using Faker)
<% end -%>
- [ ] My commits follows the [conventional commits format](https://www.conventionalcommits.org)
- [ ] I updated the readme to reflect my changes
<% if @mt_config[:create_changelog] -%>
- [ ] I updated CHANGELOG.md, including my work in the "Next" section
<% end %>
