# Default policies for member controllers (with access to other members content)
module Member
  class MemberApplicationPolicy < ApplicationPolicy
    attr_reader :<%= @mt_config[:auth_singular] %>, :record

    def index?
      @<%= @mt_config[:auth_singular] %>.present?
    end

    def show?
      true
    end

    def create?
      @<%= @mt_config[:auth_singular] %>.present?
    end

    def new?
      create?
    end

    def update?
      owner?
    end

    def edit?
      update?
    end

    def destroy?
      owner?
    end

    class Scope
      attr_reader :<%= @mt_config[:auth_singular] %>, :scope

      def initialize(<%= @mt_config[:auth_singular] %>, scope)
        @<%= @mt_config[:auth_singular] %> = <%= @mt_config[:auth_singular] %>
        @scope    = scope
      end

      def resolve
        scope.all
      end
    end
  end
end
