  def error_fallback(exception, fallback_message, status)
    message = exception&.message || fallback_message
    respond_to do |format|
      format.json { render json: { error: message }, status: status }
      format.html { raise exception }
    end
  end

  def error_not_found(exception = nil)<% if @mt_config[:internationalize] %>
    # FIXME: i18n string: 'Requested content was not found'
    error_fallback(exception, I18n.t('controller.application.error_not_found.error'), :not_found)<% else %>
    error_fallback(exception, 'Requested content was not found', :not_found)<% end %>
  end

  def error_unprocessable(exception = nil)<% if @mt_config[:internationalize] %>
    # FIXME: i18n string: 'Unprocessable entity'
    error_fallback(exception, I18n.t('controller.application.error_unprocessable.error'), :unprocessable_entity)<% else %>
    error_fallback(exception, 'Unprocessable entity', :unprocessable_entity)<% end %>
  end

  def error_csrf(exception = nil)<% if @mt_config[:internationalize] %>
    # FIXME: i18n string: 'Invalid CSRF token'
    error_fallback(exception, I18n.t('controller.application.error_csrf.error'), :unprocessable_entity)<% else %>
    error_fallback(exception, 'Invalid CSRF token', :unprocessable_entity)<% end %>
  end<% if @mt_config[:use_pundit] %>

  def error_not_authorized(_exception = nil)<% if @mt_config[:internationalize] %>
    # FIXME: i18n string: 'You are not authorized to perform this action'
    message = I18n.t('application_controller.error_not_authorized.not_authorized')<% else %>
    message = 'You are not authorized to perform this action'<% end %>
    respond_to do |format|
      format.json { render json: { error: message }, status: :unauthorized }
      format.html { redirect_to new_user_session_path }
    end
  end<% end %>
