  rescue_from ActiveRecord::RecordNotFound, with: :error_not_found
  rescue_from ActionController::InvalidAuthenticityToken, with: :error_csrf
  rescue_from ActionController::ParameterMissing, with: :error_unprocessable<% if @mt_config[:use_pundit] %>
  rescue_from Pundit::NotAuthorizedError, with: :error_not_authorized<% end %>
