# Whitelist locales available for the application
I18n.available_locales = <%= @mt_config[:locales] %>

# Set default locale to something other than :en
I18n.default_locale = :<%= @mt_config[:default_locale] %>
