# Put your development seeds here
<% if @mt_config[:use_devise] -%>
FactoryBot.create :<%= @mt_config[:auth_singular] %>_known
<% if @mt_config[:use_roles] -%>
FactoryBot.create :<%= @mt_config[:auth_singular] %>_admin_known
<% end -%>
<% end -%>
