# Default policies for member controllers (with access to other members content)
module Admin
  class AdminApplicationPolicy < ApplicationPolicy
    attr_reader :<%= @mt_config[:auth_singular] %>, :record

    def index?
      admin?
    end

    def show?
      admin?
    end

    def create?
      admin?
    end

    def new?
      create?
    end

    def update?
      admin?
    end

    def edit?
      update?
    end

    def destroy?
      admin?
    end

    class Scope
      attr_reader :<%= @mt_config[:auth_singular] %>, :scope

      def initialize(<%= @mt_config[:auth_singular] %>, scope)
        @<%= @mt_config[:auth_singular] %> = <%= @mt_config[:auth_singular] %>
        @scope    = scope
      end

      def resolve
        scope.all
      end
    end

    private

    def admin?
      @<%= @mt_config[:auth_singular] %>&.role == 'admin'
    end
  end
end
