module Admin
  class AdminApplicationController < ApplicationController
    before_action :authenticate_admin!

    private

    def authenticate_admin!
      authenticate_<%= @mt_config[:auth_singular] %>!

      redirect_to new_<%= @mt_config[:auth_singular] %>_session_url, status: :unauthorized unless current_<%= @mt_config[:auth_singular] %>.admin?
    end
    <% if @mt_config[:use_pundit] %>

    def policy_scope(scope)
      super([:admin, scope])
    end

    def authorize(record, query = nil)
      super([:admin, record], query)
    end
    <% end %>
  end
end
