class ApplicationPolicy
  attr_reader :<%= @mt_config[:auth_singular] %>, :record

  def initialize(<%= @mt_config[:auth_singular] %>, record)
    @<%= @mt_config[:auth_singular] %> = <%= @mt_config[:auth_singular] %>
    @record   = record
  end

  def index?
    true
  end

  def show?
    true
  end

  def create?
    false
  end

  def new?
    create?
  end

  def update?
    false
  end

  def edit?
    update?
  end

  def destroy?
    false
  end

  class Scope
    attr_reader :<%= @mt_config[:auth_singular] %>, :scope

    def initialize(<%= @mt_config[:auth_singular] %>, scope)
      @<%= @mt_config[:auth_singular] %> = <%= @mt_config[:auth_singular] %>
      @scope = scope
    end

    def resolve
      scope.all
    end
  end
end
