FactoryBot.define do
  factory :<%= @mt_config[:auth_singular] %> do
    email { Faker::Internet.unique.email }
    password { 'password' }

    factory :<%= @mt_config[:auth_singular] %>_known do
      email { 'user@example.com' }
    end
  end
end
