module Member
  class MemberApplicationController < ApplicationController
    before_action :authenticate_<%= @mt_config[:auth_singular] %>!
    <% if @mt_config[:use_pundit] %>

    private

    def policy_scope(scope)
      super([:member, scope])
    end

    def authorize(record, query = nil)
      super([:member, record], query)
    end
    <% end %>
  end
end
