---
parser: null
extends:
  - standard<%= @mt_config[:use_vue] ? "\n  - plugin:vue/recommended" : '' %>
env:
  <%= @mt_config[:use_webpacker] ? 'commonjs' : 'browser'%>: true
globals:
  ActionCable: true
  App: true<%= @mt_config[:use_i18njs] ? "\n  I18n: true" : '' %>
rules:
  no-debugger: error
  no-console: error
  comma-dangle:
    - error
    - arrays: always-multiline
      objects: always-multiline
      imports: always-multiline
      exports: always-multiline
      functions: ignore
  no-unused-vars:
    - error
    - vars: local
  object-property-newline:
    - error
    - allowAllPropertiesOnSameLine: true
  prefer-promise-reject-errors: 0
<% if @mt_config[:use_vue] %>
  # VueJS lints
  vue/max-attributes-per-line:
    - error
    - singleline: 4
      multiline:
        max: 1
        allowFirstLine: true
  vue/order-in-components:
    - error
    - order:
        - el
        - name
        - parent
        - functional
        - - delimiters
          - comments
        - - components
          - directives
        - extends
        - mixins
        - inheritAttrs
        - model
        - - props
          - propsData
        - data
        - computed
        - methods
        - LIFECYCLE_HOOKS
        - - template
          - render
        - renderError
        - watch
        - filters
  vue/html-closing-bracket-newline:
    - error
    - singleline: never
      multiline: never
  vue/singleline-html-element-content-newline:
    - error
    - ignoreWhenNoAttributes: true
      ignoreWhenEmpty: true
      ignores:
        - pre
        - textarea
        - label
        - span
        - button
        - a
        - router-link
        - slot
        - h1
        - h2
        - h3
        - h4
        - h5
        - h6
        - template
<% end %>
