---
require:
  - rubocop-performance
  - rubocop-rails<% if @mt_config[:has_tests] %>
  - rubocop-rspec<% end %>

AllCops:
  Exclude:
    - bin/*
    - coverage/**/*
    - db/schema.rb
    - node_modules/**/*
    - tmp/**/*
    - vendor/**/*
  TargetRubyVersion: <%= RUBY_VERSION %>
  NewCops: enable

Layout/HashAlignment:
  EnforcedColonStyle: table
  EnforcedHashRocketStyle: table

Layout/LineLength:
  Enabled: false

Lint/UselessAssignment:
  Exclude:
    - spec/controllers/*.rb

Metrics/AbcSize:
  Max: 16.5
  Exclude:
    - db/migrate/*.rb

Metrics/BlockLength:
  Exclude:
    - db/migrate/*.rb
    - config/environments/production.rb
    - config/routes.rb
    - lib/tasks/cucumber.rake<% if @mt_config[:has_tests] %>
    - spec/**/*_spec.rb
    - spec/support/shared_examples/**/*.rb<% end %>

Metrics/ClassLength:
  Exclude:
    - db/migrate/*.rb

Metrics/MethodLength:
  Max: 12
  Exclude:
    - db/migrate/*.rb

Rails/FilePath:
  EnforcedStyle: arguments<% if @mt_config[:has_tests] %>

RSpec/NestedGroups:
  Max: 4<% end %><% if @mt_config[:use_pundit] %>

RSpec/RepeatedDescription:
  Exclude:
    - spec/policies/**/*

RSpec/RepeatedExample:
  Exclude:
    - spec/policies/**/*<% end %>

Style/ClassAndModuleChildren:
  Exclude:
    - spec/**/*
    - test/**/*

Style/Documentation:
  Enabled: false

Style/FrozenStringLiteralComment:
  Enabled: false

Style/SymbolArray:
  EnforcedStyle: brackets

Style/TrailingCommaInArrayLiteral:
  EnforcedStyleForMultiline: comma

Style/TrailingCommaInHashLiteral:
  EnforcedStyleForMultiline: comma
